<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">Signup Form</h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{
                'is-invalid': submitted && formHelper['firstName'].errors
              }"
            />
            <div
              *ngIf="
                submitted ||
                (formHelper['firstName'].touched &&
                  formHelper['firstName'].errors)
              "
              class="text-warning"
            >
              <div *ngIf="formHelper['firstName'].hasError('required')">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{
                'is-invalid': submitted && formHelper['lastName'].errors
              }"
            />
            <div
              *ngIf="
                submitted ||
                (formHelper['lastName'].touched &&
                  formHelper['lastName'].errors)
              "
              class="text-warning"
            >
              <div *ngIf="formHelper['lastName'].hasError('required')">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && formHelper['email'].errors
            }"
          />
          <div
            *ngIf="
              submitted ||
              (formHelper['email'].touched && formHelper['email'].errors)
            "
            class="text-warning"
          >
            <div *ngIf="formHelper['email'].hasError('required')">
              Email is required
            </div>
            <div *ngIf="formHelper['email'].hasError('email')">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{
                'is-invalid': submitted && formHelper['password'].errors
              }"
            />
            <div
              *ngIf="
                submitted ||
                (formHelper['password'].touched &&
                  formHelper['password'].errors)
              "
              class="text-warning"
            >
              <div *ngIf="formHelper['password'].hasError('required')">
                Password is required
              </div>
              <div *ngIf="formHelper['password'].hasError('minlength')">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && formHelper['confirmPassword'].errors
              }"
            />
            <div
              *ngIf="
                submitted ||
                (formHelper['confirmPassword'].touched &&
                  formHelper['confirmPassword'].errors)
              "
              class="text-warning"
            >
              <div *ngIf="formHelper['confirmPassword'].hasError('required')">
                Confirm Password is required
              </div>
              <div>Passwords must match</div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
            formControlName="acceptTermsAndConditions"
            [ngClass]="{
              'is-invalid':
                submitted && formHelper['acceptTermsAndConditions'].errors
            }"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div
            *ngIf="
              submitted &&
              formHelper['acceptTermsAndConditions'].hasError('required')
            "
            class="text-warning"
          >
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button (click)="onResetForm()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <!-- <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p> -->
        </div>
      </form>
    </div>
  </div>
</div>
